<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<script src="https://use.fontawesome.com/c0c323679c.js"></script>

<body>

  <nav th:replace="fragments/header :: nav"></nav>
  <!--  ---------------- Primera Secci[on --------------  -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
          data-aos="fade-up" data-aos-delay="200">
          <h1 class="text-dark"><i class="fa fa-folder-open-o" aria-hidden="true"></i> Administrar Materias </h1>
        </div>
        <div class="col-lg-2 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
          data-aos="fade-up" data-aos-delay="200">
          <div th:if="${busqueda} == find">
            <form method="post" th:action="@{/aMaterias/formMaterias}">
              <span class="icon-input-btn"><i class="fa fa-user-plus yvela" aria-hidden="true"></i>
                <input type="submit" class="btn btn-success btn-lg" value="Nuevo"></span>
              <div th:text="${idEtapa}"></div>
            </form>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
          data-aos="fade-up" data-aos-delay="200">
          <hr />
        </div>
      </div>
    </div>
  </section>

  <!-- ======================== Seccion Tablas ============  -->
  <!-- ============= Inicio Tabla lista de Materias  ==============  -->
  <div th:if="${busqueda} == find">
    <section id="clients" class="clients section-bg">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
            data-aos="fade-up" data-aos-delay="200">

            <h2 class="text-dark"><i class="fa fa-folder-o" aria-hidden="true"></i> Resumen de Registro de Materias
            </h2><br>
            <table id="tContratos" class="table" style="width:100%">
              <thead>
                <tr>
                  <th>Nombre Materia</th>
                  <th>Tipo Materia</th>
                </tr>
              </thead>
              <tbody th:each="m,iterStat : ${lMaterias}" th:class="${iterStat.odd}? 'odd'" th:remove="tag">
                <tr>
                  <td th:text="${m.materia}"></td>
                  <td th:text="${m.tipomateria.tipomateria}"></td>
                  <td>
                     <form th:action="@{/aMaterias/inicioModificarMaterias}" method="post">
                        <input type="hidden" th:value="${m.idMateria}" name="idmateria" />
                        <span class="icon-input-btn"> <input type="submit" class="btn btn-primary btn-lg" value="Modificar"></span>                                  
                     </form>  
                  </td>
                  <td>
                    <form th:action="@{/aPlanes/inicioEliminarPlanes}" method="post">
                      <input type="hidden" th:value="${m.idMateria}" name="idMateria" />
                      <span class="icon-input-btn"> <input type="submit" class="btn btn-danger btn-lg"
                          value="Eliminar"></span>
                    </form>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                <th>Nombre Materia</th>
                <th>Tipo Materia</th>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>

    </section>
  </div>
  <!-- ============= Fin Tabla lista de Proyectos  ==============  -->
  
  <!-- =============   Inicio Registro Programas   ==============  -->
  <div th:if="${operation} == reg">
    <section id="clients" class="clients section-bg">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 d-flex flex-column  pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up"
            data-aos-delay="200">

            <h2 class="text-dark"><i class="fa fa-folder-o" aria-hidden="true"></i> Formulario de Registro de Materias
            </h2><br>
            <form method="post" th:object="${materias}" th:action="@{/aMaterias/registroMaterias}"
              enctype="multipart/form-data" class="text-dark">


            <div class="form-group row mb-4">
              <label for="ciExpedido" class="col-sm-2 col-form-label">Nombre de la Materia</label>
              <label class="col-1 col-form-label text-right"></i></label>
              <div class="col-6">
                <input id="uni" class="form-control form-control-lg" th:field="*{materia}" />
              </div>
              <div class="col-sm-3" id="comd">
                <small class="form-text text-muted">
                  Ingrese el nombre de la Materia
                </small>
                <small id="ci" class="form-text text-muted formFieldError">
                  <span class="help-inline" th:errors="*{materia}"></span>
                </small>
              </div>
            </div>
            <div class="form-group row mb-4">
              <label class="col-2 col-form-label">Seleccione el Tipo de Materia </label>
              <label class="col-1 col-form-label text-right"> <i class="fa fa-info-circle" aria-hidden="true"></i></label>
              <div class="col-6">
                <select class="form-control form-control-lg" id="comp" th:field="*{tipomateria.idtipomateria}">
                  <option th:each="t : ${lTiposMt}" th:value="${t.idtipomateria}" th:text="${t.tipomateria}"></option>
                </select>
              </div>
              <div class="col-3" id="comd">
                <small class="form-text text-muted">
                  Seleccione un Tipo de Materia
                </small>
                <small id="ci" class="form-text text-muted formFieldError">
                  <span class="help-inline"></span>
                </small>
              </div>
            </div>
              <div class="form-group row mb-4 align-text-left">
                <label for="msg" class="col-sm-2 col-form-label text-right"></label>
                <label for="msg" class="col-sm-10 col-form-label"><span class="parpadea text"><i
                      class="fa fa-info-circle" aria-hidden="true"></i> Los campos con * son obligatorios </span>;&nbsp
                </label>
              </div>
              <hr align="left" noshade="noshade" size="10" width="100%" />
              <div class="form-group row mt-12">
                <div class="col-sm-3" id="combo1">
                </div>
                <div class="col-sm-3" id="combo1">
                  <span class="icon-input-btn"><i class="fa fa-pencil-square-o yvela" aria-hidden="true"></i> <input
                      class="btn btn-success" type="submit" value="Guardar"></span>
                </div>
                <div class="col-sm-3" id="combo1">
                </div>
                <div class="col-sm-3" id="combo1">
                  <a th:href="@{/aPersonas/inicioPersonas}" class="btn btn-yvela-green"> <i class="fa fa-undo"
                      aria-hidden="true"></i> Cancelar </a>
                </div>
              </div>
            </form>
            <br>
            <hr align="left" noshade="noshade" size="10" width="100%" />
          </div>
        </div>
      </div>

    </section>
  </div>
<!-- ============================================================================================= -->

<!-- ================================== Inicio Modificacion Programas =============================-->
<div th:if="${operation} == modif">
  <section id="clients" class="clients section-bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 d-flex flex-column  pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up"
          data-aos-delay="200">

          <h2 class="text-dark"><i class="fa fa-folder-o" aria-hidden="true"></i> Formulario de Registro de Materias
          </h2><br>
          <form method="post" th:object="${materias}" th:action="@{/aMaterias/actualizarMaterias}"
            enctype="multipart/form-data" class="text-dark">

          <input type="hidden" name="materias" th:value="${materias.idMateria}" th:field="${materias.idMateria}">

          <div class="form-group row mb-4">
            <label for="ciExpedido" class="col-sm-2 col-form-label">Nombre de la Materia</label>
            <label class="col-1 col-form-label text-right"></i></label>
            <div class="col-6">
              <input id="uni" class="form-control form-control-lg" th:field="*{materia}" />
            </div>
            <div class="col-sm-3" id="comd">
              <small class="form-text text-muted">
                Ingrese el nombre de la Materia
              </small>
              <small id="ci" class="form-text text-muted formFieldError">
                <span class="help-inline" th:errors="*{materia}"></span>
              </small>
            </div>
          </div>
          <div class="form-group row mb-4">
            <label class="col-2 col-form-label">Seleccione el Tipo de Materia </label>
            <label class="col-1 col-form-label text-right"> <i class="fa fa-info-circle" aria-hidden="true"></i></label>
            <div class="col-6">
              <select class="form-control form-control-lg" id="comp" th:field="*{tipomateria.idtipomateria}">
                <option th:each="t : ${lTiposMt}" th:value="${t.idtipomateria}" th:text="${t.tipomateria}"></option>
              </select>
            </div>
            <div class="col-3" id="comd">
              <small class="form-text text-muted">
                Seleccione un Tipo de Materia
              </small>
              <small id="ci" class="form-text text-muted formFieldError">
                <span class="help-inline"></span>
              </small>
            </div>
          </div>
            <div class="form-group row mb-4 align-text-left">
              <label for="msg" class="col-sm-2 col-form-label text-right"></label>
              <label for="msg" class="col-sm-10 col-form-label"><span class="parpadea text"><i
                    class="fa fa-info-circle" aria-hidden="true"></i> Los campos con * son obligatorios </span>;&nbsp
              </label>
            </div>
            <hr align="left" noshade="noshade" size="10" width="100%" />
            <div class="form-group row mt-12">
              <div class="col-sm-3" id="combo1">
              </div>
              <div class="col-sm-3" id="combo1">
                <span class="icon-input-btn"><i class="fa fa-pencil-square-o yvela" aria-hidden="true"></i> <input
                    class="btn btn-success" type="submit" value="Guardar"></span>
              </div>
              <div class="col-sm-3" id="combo1">
              </div>
              <div class="col-sm-3" id="combo1">
                <a th:href="@{/aPersonas/inicioPersonas}" class="btn btn-yvela-green"> <i class="fa fa-undo"
                    aria-hidden="true"></i> Cancelar </a>
              </div>
            </div>
          </form>
          <br>
          <hr align="left" noshade="noshade" size="10" width="100%" />
        </div>
      </div>
    </div>

  </section>
</div>

<!-- ================================== Inicio Eliminar Programas =============================-->
<div th:if="${operation} == delet">
     <section id="clients" class="clients section-bg">
    	    <div class="container">
               <div class="row">
                 <div class="col-lg-12 d-flex flex-column  pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
                     <h2 class="text-dark"><i class="fa fa-folder-o" aria-hidden="true"></i> Formulario de Eliminación de Planes </h2><br>
                     <div class="form-group row">
                        <div class="col-sm-8" id="combo1"> 
                 			 <form method="post" th:object="${planes}" th:action="@{/aPlanes/eliminarPlanes}"
            enctype="multipart/form-data" class="text-dark">
            
            <input type="hidden" name="idPgPrgPlanes" th:value="${planes.idPgPrgPlanes}" th:field="${planes.idPgPrgPlanes}">
				                    				                
  				 <div class="form-group row mb-4">
              <label for="ciExpedido" class="col-sm-2 col-form-label">Nombre del Plan</label>
              <label class="col-1 col-form-label text-right"></i></label>
              <div class="col-6">
                <input id="uni" class="form-control form-control-lg" th:field="*{plan}" />
              </div>
            
            </div>
            <div class="form-group row mb-4">
              <label for="ciExpedido" class="col-sm-2 col-form-label">Numero de Resolucion</label>
              <label class="col-1 col-form-label text-right"></i></label>
              <div class="col-6">
                <input id="uni" class="form-control form-control-lg" th:field="*{resolucion}" />
              </div>
           
            </div>
            
            <div class="form-group row mb-4">
              <label for="ciExpedido" class="col-sm-2 col-form-label">Detalle del Plan</label>
              <label class="col-1 col-form-label text-right"></i></label>
              <div class="col-6">
                <input id="uni" class="form-control form-control-lg" th:field="*{detalles}" />
              </div>
             
            </div>
            <div class="form-group row mb-4">
              <label class="col-2 col-form-label">Seleccione el Programa </label>
              <label class="col-1 col-form-label text-right"> <i class="fa fa-info-circle" aria-hidden="true"></i></label>
              <div class="col-6">
                <select class="form-control form-control-lg" id="comp" th:field="*{programa.idPrograma}">
                  <option th:each="p : ${lProgramas}" th:value="${p.idPrograma}" th:text="${p.programa}"></option>
                </select>
              </div>
             
            </div>
                     
             <hr align="left" noshade="noshade" size="10" width="100%" />
                <div class="form-group row">
                       <div class="col-sm-2" id="combo1"> 
                       </div>
                       <div class="col-sm-2" id="combo1">
                            <span class="icon-input-btn"><i class="fa fa-times yvela" aria-hidden="true"></i> 
                               <input type="submit"  class="btn btn-danger" value="Confirmar"></span>
                        </div>
                        <div class="col-sm-2" id="combo1"> 
                     </div>
                     <div class="col-sm-2" id="combo1"> 
                          <a  th:href="@{/aProgramas/inicioProgramas}"  class="btn btn-yvela-green"> <i class="fa fa-undo" aria-hidden="true"></i> Cancelar </a>
                      </div>
                     </div>
                    </form>
                   </div>
                     <div class="col-sm-4" id="combo1"> 
                            <fieldset class="col-md-12">    	
                                <legend><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>  Precaución </legend>
                                <p>Esta a Punto de eliminar los datos que refiere en el formulario</p>
                               </fieldset>
                        </div>
  					</div>				
  					  							 <br>
                <hr align="left" noshade="noshade" size="10" width="100%" />                                
            
            </div>
         </div>
       </div>
  </section>
  </div>					






  <footer th:replace="fragments/footer :: footer"></footer>


  <div th:replace="fragments/jsScripts :: scripts"></div>
</body>

</html>