<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<script src="https://use.fontawesome.com/c0c323679c.js"></script>
<body>
  <section>
    <nav th:replace="fragments/header :: nav"></nav>
  </section>
  <!-- ======================== LISTA DE PROGRAMAS =================  -->
  <div th:if="${busqueda} == find">
    <section id="clients" class="clients section-bg">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
            data-aos="fade-up" data-aos-delay="200">
            <h2 class="text-dark"><i class="fa fa-folder-o" aria-hidden="true"></i> Resumen de Registro de Programas
            </h2>
            <div align="left">
              <button type="button" class="mt-2 btn btn-primary" data-toggle="modal" data-target="#registrar">Nuevo Programa</button>
            </div>
            <br>
            <div class="table-responsive">
            <table id="example" class="table" style="width:100%">
              <thead>
                <tr>
                  <th>Nombre Programa - Sigla</th>
                  <th>Modalidad</th>
                  <th>Modificacion</th>
                  <th>Eliminar</th>
                  <th>Plan Estudio</th>
                  <th>Precio</th>
                </tr>
              </thead>
              <tbody th:each="pro,iterStat : ${lProgramas}" th:class="${iterStat.odd}? 'odd'" th:remove="tag">
                <tr>
                  <td th:text="${pro.programa+' - '+pro.sigla}"></td>
                  <td th:text="${pro.modalidad.modalidad}"></td>
                  <td>
                    <button type="button" class="mt-2 btn btn-primary" data-toggle="modal" data-target="#modal2">Modal</button>
                  </td>
                  <td>
                    <a class="btn btn-success" title="Eliminar <b>Programa</b>" th:href="@{/aProgramas/inicioEliminarPrograma={idPrograma}(idPrograma = ${pro.idPrograma})}"
                      data-bs-toggle="tooltip" data-bs-html="true">
                      <i class="fa-solid fa-dumpster-fire" aria-hidden="true"></i>
                    </a>
                  </td>
                  <td>
                    <a class="btn btn-danger" title="Ver <b>Plan de Estudio</b>" th:href="@{/aPlanes/listaPorProgramas={idPrograma}(idPrograma = ${pro.idPrograma})}"
                      data-bs-toggle="tooltip" data-bs-html="true">
                      <i class="fa-sharp fa-solid fa-book" aria-hidden="true"></i>
                    </a>
                  </td>
                  <td>
                    <a class="btn btn-info" title="Arancel <b>Prorgama</b>" th:href="@{/aProgramas/formArancel={idPrograma}(idPrograma = ${pro.idPrograma})}"
                      data-bs-toggle="tooltip" data-bs-html="true">
                      <i class="fa-solid fa-dollar-sign" aria-hidden="true"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <th>Nombre Programa</th>
                  <th>Modalidad</th>
                  <th>Modificacion</th>
                  <th>Eliminar</th>
                  <th>Plan Estudio</th>
                  <th>Precio</th>
                </tr>
              </tfoot>
            </table>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
<!-- =================================== FIN LISTA DE PROGRAMAS ===============  -->
  <footer th:replace="fragments/footer :: footer"></footer>
  <div th:replace="fragments/jsScripts :: scripts"></div>
<!-- =================================== TABLA RESPONSIVA =======================-->
<!-- ============================= MODAL DE REGISTRO DE PROGRAMA ================-->
<div class="modal fade" tabindex="-1" role="dialog" id="registrar" th:fragment="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="font-weight-bold" id="tituloModal">Registrar Nuevo Programa de Posgrado</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="close"></button>
      </div>
      <div class="modal-body">
        <form id="from-registro" method="post" th:object="${programas}" th:action="@{/aProgramas/registroProgramas}"
          enctype="multipart/form-data" class="text-dark">
          <!-- ============== COLUMNA 1 - FORMULARIO ============== -->
          <div class="form-group row">
            <div class="col-lg-12">
              <label class="font-weight-bold" for="NombrePrograma">Nombre del Programa: </label>
              <input id="nombrePrograma" class="form-control form-control-lg" th:field="*{programa}"
                placeholder="Ingrese el Nombre del Programa" onkeyup="javascript:this.value=this.value.toUpperCase();"
                required />
            </div>
          </div>
          <!-- =============== FIN COLUMNA 1 - FORMULARIO ========== -->
          <hr class="bg-secondary border-top border-secondary mb-2">
          <!-- =============== COLUMNA 2 - FORULARIO ================-->
          <div class="form-group row">
            <div class="col-lg-4">
              <label class="font-weight-bold" for="NombrePrograma">Valores que Otorga el Programa:</label>
              <input type="number" id="uni" class="form-control form-control-lg" th:field="*{creditos}"
                placeholder="Creditos del Programa" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"
                min="1" required/>
            </div>
            <div class="col-lg-4">
              <label class="font-weight-bold" for="NombrePrograma">Horas de Trabajo Virtual:</label>
              <input type="number" id="uni" class="form-control form-control-lg" th:field="*{horasVirtuales}"
                placeholder="Horas de Trabajo Virtual"
                onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" min="1" required/>
            </div>
            <div class="col-lg-4">
              <label class="font-weight-bold" for="NombrePrograma">Horas de Trabajo De Investigacion:</label>
              <input type="number" id="uni" class="form-control form-control-lg" th:field="*{horasInvestigacion}"
                placeholder="Horas de Investigacion" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"
                min="1" required/>
            </div>
          </div>
          <!-- =============== FIN COLUMNA 2 - FORULARIO ==============-->
          <hr class="bg-secondary border-top border-secondary mb-2">
          <!-- =============== COLUMNA 3 - FORULARIO ==================-->
          <div class="form-group row">
            <div class="col-lg-3">
              <label class="font-weight-bold" for="NombrePrograma">Siglas del Programa:</label>
              <input type="text" id="uni" class="form-control form-control-lg" th:field="*{sigla}"
                placeholder="Siglas del Programa" onkeyup="javascript:this.value=this.value.toUpperCase();" required/>
            </div>
            <div class="col-lg-3">
              <label class="font-weight-bold" for="NombrePrograma">Cantidad de Modulos del Programa:</label>
              <input type="number" id="uni" class="form-control form-control-lg" th:field="*{cantidadModulos}"
                placeholder="Cantidad de Modulos" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"
                min="1" required/>
            </div>
            <div class="col-lg-3">
              <label class="font-weight-bold">Modalidad: </label>
              <select class="form-control form-control-lg" id="comp" th:field="*{modalidad.id_modalidad}" required>
                <option th:each="m : ${lModalidad}" th:value="${m.id_modalidad}" th:text="${m.modalidad}"></option>
              </select>
            </div>
            <div class="col-lg-3">
              <label class="font-weight-bold">Grado del Programa: </label>
              <select class="form-control form-control-lg" id="comp" th:field="*{grado.id_grado}" required>
                <option th:each="a : ${lGrado}" th:value="${a.id_grado}" th:text="${a.gradoacademico}"></option>
              </select>
            </div>
          </div>
          <!-- ========================= FIN COLUMNA 3 - FORMULARIO ================ -->
          <div class="form-group row mt-12">
            <div class="col-sm-3" id="combo1">
            </div>
            <div class="col-sm-3" id="combo1">
              <span class="icon-input-btn"><i class="fa fa-pencil-square-o yvela" aria-hidden="true"></i><input
                  class="btn btn-success" type="submit" value="Guardar"></span>
            </div>
            <div class="col-sm-3" id="combo1">
            </div>
            <div class="col-sm-3" id="combo1">
              <button class="btn btn-danger" type="button" data-dismiss="modal">Cancelar</button>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
<!-- ================================= FIN MODAL DE REGISTRO DE PROGRAMA =========================-->
<div class="modal fade" tabindex="-1" role="dialog" id="modal2" th:fragment="modal">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5>Prueba Modal 2</h5>
          </div>
          <div class="modal-body">
              <from>
                <label>holis </label>
                <input>
              </from>
          </div>
          <div class="modal-footer">
          </div>
      </div>
  </div>
</div>
<style>
  .modal-dialog {
    position: relative;
    margin-right: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    height: auto;
    max-width: 90%;
    width: 100%;
    right:0;
    border: 1;
  }
  h5 { color: #164194; }
</style>
<!-- ============= Inicio busqueda con filtro listado  ==============  --> 
<!--==============SCRIPTS PERSONALIZADOS==============-->
<script th:src="@{/js/pgScripts/scriptPostulantesServicio.js}"></script>
<script th:src="@{/js/pgScripts/scriptPostulantes.js}"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js">
</script>

<!-- ============= Inicio busqueda con filtro listado  ==============  -->
<!-- <script src="https://code.jquery.com/jquery-3.3.1.js"></script> -->
<script th:src="@{/js/utiles/jquery.dataTables.min.js}"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.bootstrap4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.colVis.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap4.min.js"></script>
<script>
  $(document).ready(function () {
    var table = $('#example').DataTable({
      lengthChange: false,
    });
  })
</script>
</body>

</html>