<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
<meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
</head>
<body>
<footer th:fragment="footer" class="bg-dark py-3">
    <!-- <div class="container">
        <div class="row">
            <div class="col text-center" >
                <span>Copyright Kemal USIC 2022</span>
            </div>
        </div>
    </div> -->
    <!-- <ul class="nav justify-content-center border-bottom">
        <li class="nav-item"><a href="#" class="nav-link px-2">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2">Features</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2">Pricing</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2">About</a></li>
    </ul> -->
    <p class="text-center text-white">© Copyright USIC 2022</p>
</footer>
</body>
</html>