<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:fragment="scripts">
    
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script th:src="@{/vendor/aos/aos.js}"></script>
  <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/vendor/glightbox/js/glightbox.min.js}"></script>
  <script th:src="@{/vendor/isotope-layout/isotope.pkgd.min.js}"></script>
  <script th:src="@{/vendor/swiper/swiper-bundle.min.js}"></script>
  <script th:src="@{/vendor/waypoints/noframework.waypoints.js}"></script>
  <script th:src="@{/vendor/php-email-form/validate.js}"></script>
  <script th:src="@{/multiselect-dropdown-main/multiselect-dropdown.js}"></script>
  <script src="https://kit.fontawesome.com/857545b33f.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

  <!-- Template Main JS File -->
  <script th:src="@{/js/main.js}"></script>
  <script th:src="@{/js/ajax.js}"></script>
    <script th:src="@{/js/script.js}"></script>
  <script th:src="@{/js/utiles/jquery.dataTables.min.js}"></script>
  <!-- Vendor JS Files -->
  <script th:src="@{/vendor/aos/aos.js}"></script>
  <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/vendor/glightbox/js/glightbox.min.js}"></script>
  <script th:src="@{/vendor/isotope-layout/isotope.pkgd.min.js}"></script>
  <script th:src="@{/vendor/swiper/swiper-bundle.min.js}"></script>
  <script th:src="@{/vendor/waypoints/noframework.waypoints.js}"></script>
  <script th:src="@{/vendor/php-email-form/validate.js}"></script>
  
  
  
  <script th:src="@{https://code.jquery.com/jquery-3.3.1.js}"
            src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
    <!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>-->
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js}"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
            integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous">
    </script>
    <script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js}"
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
            integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous">
    </script>

    <script  type="text/javascript" charset="utf8" th:src="@{http://cdn.datatables.net/1.10.10/js/jquery.dataTables.js}"
             src="http://cdn.datatables.net/1.10.10/js/jquery.dataTables.js"></script>

    <script th:src="@{https://use.fontawesome.com/c0c323679c.js}"
            src="https://use.fontawesome.com/c0c323679c.js"></script>
  

 <script th:inline="javascript">
 		    
        // $('#userModali').modal({
        // 	backdrop: 'static', keyboard: false
        // })
              
        // $(document).ready(function ()
        // {
        // 	var dModal = [[${session.dModal}]];
        // 	var dModal2 = [[${session.dModal2}]];
        // 	//alert("aqui"+dModal +"-"+dModal2)
        // 	//alert("He aqui"+dModal);
        // 	if(dModal2 == null){
        // 		if(dModal == 'inicio'){
        // 				 $("#userModali").modal("show");        		
        // 		 }
        // 	}
        // });
        
        /*
         $(function() {
         $( "#dialog" ).dialog();
         });
         */
    </script>
    
  <!-- Template Main JS File -->
  <script th:src="@{/js/pgScripts.js}"></script>
  <script th:src="@{/js/main.js}"></script>
  <script th:src="@{/js/jquery.sticky.js}"></script>
  <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
  <script th:src="@{/js/popper.min.js}"></script>

 <div th:replace="fragments/modal :: modal"></div>


</div>
</body>
</html>